.food{
    margin-top: 30px;
}

.food h2{
    font-weight: bold;
}

.display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    margin-top: 30px;
    row-gap: 50px;
}